@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
}
.header {
    background-image: url("../img/header_bg.png");
    background-repeat: no-repeat;
    height: 800px;
    font-family: Montserrat;
}
.header__top {
    display: flex;
}
.logo {
    margin-top: 15px;
    margin-left: 320px;
}
.menu {
    margin-left: 132px;
}
.menu ul{
    list-style-type: none;
    margin-top: 40px;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 60px;
    color: #002040;
}
.header_right {
    margin-left: 132px;
    margin-top: 30px;
    color: #002040;
}
.phone {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.rabota {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #002040;
}
.header_main {
    margin-left: 320px;
    margin-top: 209px;
}
.header__main-title{
    width: 730px;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    color: #002040;
}
.header__main-title span {
    color: #007FFF;
}
.header__main_btn {
    display: flex;
    margin-top: 40px;
}
.header__main_btn-select{
    width: 280px;
    height: 70px;
    border-radius: 79px;
    background: linear-gradient(180deg, #409FFF 0%, #007FFF 100%);
    box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.25), inset 0px -2px 0px rgba(0, 32, 64, 0.1);
    text-align: center;
    padding-top: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 10px;
    cursor: pointer;
}
.header__main_btn-get{
    width: 280px;
    height: 70px;
    border-radius: 79px;
    border: 1px solid #002040;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #002040;
}
.main__plus {
    width: 1400px;
    height: 944px;
    margin-left: 350px;
}
.main__plus-title {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #002040;
    margin-top: 161px;
}
.main__plus_case-list {
    display: flex;
    flex-wrap: wrap;
}
.main__plus_case-list img {
    margin-right: 40px;
    margin-bottom: 40px;
    width: 400px;
    height: 400px;
    transition: transform 0.2s ease-in;
}
.main__plus_case-list img:hover {
    transform: translateY(-15px);
}
.main__map-title {
    margin-top: 160px;
    text-align: center;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}
.main__map img {
    width: 100%;
}
.main__move-title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.main__move_frame-list {
    width: 1280px;
    height: 92px;
    box-shadow: 0px 20px 20px rgba(0, 63, 128, 0.05);
    border-radius: 92px;
    background-color: #fff;
    padding-top: 10px;
    display: flex;
    margin-left: 320px;
}
.main__move-frame{
    color: #BFBFBF;
    background: #F2F2F2;
    width: 307px;
    height: 72px;
    text-align: center;
    padding-top: 15px;
    border-radius: 72px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.active {
    font-style: normal!important;
    font-weight: bold!important;
    font-size: 16px!important;
    line-height: 20px!important;
    color: #FFFFFF!important;
    background: linear-gradient(180deg, #409FFF 0%, #007FFF 100%)!important;
}
.main__gallery{
    margin-left: 320px;
    margin-top: 40px;
}
.main__gallery img {
    margin-right: 40px;
}
.main__gallery hr {
    border-radius: 1px; 
    border: 1px solid #007FFF;
    width: 1280px;
    margin-top: 41px;
    margin-bottom: 161px;
}
/* Table */

table.main__graph-table{
    margin-left: 320px;
	width: 1280px;
	border-collapse:collapse;
	border-spacing:0;
	height: 700; 
    margin-bottom: 160px;
}
table.main__graph-table,table.main__graph-table td, table.main__graph-table th {
    border: 1px solid #F2F2F2; 
}
table.main__graph-table td,table.iksweb th {
	min-height:35px;padding: 3px; 
	width: 30px;
	height: 35px; 
}
table.main__graph-table th {
	background: #007FFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;  
    color: #FFFFFF;
}
table.main__graph-table td {
    background-color: #fff;
}
.table-action{
    background: #007FFF!important;
}
.h-113 {
    height: 113px;
}
.grey{
    background: #F2F2F2!important;
}
/* Layout */
.main__layout {
    width: 1280px;
    height: 453px;
    margin-left: 320px;
    margin-bottom: 160px;
}
.main__layout-title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.main__layout-block {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 20px 20px rgba(0, 63, 128, 0.05);
    border-radius: 20px;
    margin-top: 60px;
}
.main__layout-block img {
    margin-right: 80px;
    margin-left: 20px;
}
.main__layout_main-block {
    width: 580px;
    height: 350px;
    background-color: #F2F9FF;
    margin-top: 12px;
}
.main__layout_rooms-list {
    width: 500px;
    height: 70px;
    box-shadow: 0px 20px 20px rgba(0, 63, 128, 0.05);
    border-radius: 92px;
    background-color: #fff;
    display: flex;
    padding-top: 10px;
    margin-top: 40px;
    margin-left: 40px;
}
.main__layout_rooms{
    color: #BFBFBF;
    background: #F2F2F2;
    width: 235px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    border-radius: 72px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.main__layout_main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #002040;
    margin-top: 40px;
}
.main__layout_main-price {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #002040;
    margin-top: 10px;
}
.main__layout_main-btn{
    width: 301px;
    height: 70px;
    border-radius: 79px;
    background: linear-gradient(180deg, #409FFF 0%, #007FFF 100%);
    box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.25), inset 0px -2px 0px rgba(0, 32, 64, 0.1);
    text-align: center;
    padding-top: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 140px;
}
.main__gallery_photo-title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 70px;
}
.main__gallery_photo img {
    margin-left: 40px;
    transition: transform 0.2s ease-in;
}
.main__gallery_photo-img {
    margin-left: 270px;
}
.main__gallery_photo-img img:hover {
    transform: translateY(-15px);
}
.main__reviews {
    margin-top: 160px;
}
.main__reviews-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}
.main__reviews-block {
    width: 620px;
    height: 220px;
    margin-top: 60px;
    margin-right: 40px;
    background: #FFFFFF;
    opacity: 0.25;
    box-shadow: 0px 20px 20px rgba(0, 63, 128, 0.05);
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 18px;
    transition: transform 0.2s ease-in;
}
.main__reviews-block:hover {
    transform: translateY(-15px);
}
.main__reviews_block-name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #002040;
}
.main__reviews_block-text {
    width: 540px;
    height: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #002040;
    margin-top: 15px;
}
.main__reviews_block-platform {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #002040;
}
.main__reviews .action {
    background: #FFFFFF;
    opacity: 1;
    box-shadow: 0px 20px 20px rgba(0, 63, 128, 0.05);
    border-radius: 20px;
    height: 250px;
    padding-left: 30px;
    padding-top: 30px;
}
.main__reviews_block-up{
    position: absolute;
    margin-left: 80px;
    margin-top: -54px;
}
.main__partners-title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-top: 160px;
    margin-bottom: 60px;
}
.main__partners_block-list {
    justify-content:center;
}
.main__partners_block-list img {
    transition: transform 0.2s ease-in;
}
.main__partners_block-list img:hover {
    transform: translateY(-10px);
}
.flex {
    display: flex;
    flex-direction: row;
}
/* Footer */
.footer {
    height: 418px;
    background-color: #002040;
    color: white;
}
.footer__top {
    display: flex;
    height: 160px;
}
.footer__top-logo {
    margin-top: 40px;
    margin-left: 319px;
}
.footer__top_question-qq{
    margin-left: 291px;
    margin-top: 55px;
}
.footer__top_question-qq .footer__top_questions-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.footer__top_question-qq .footer__top_questions-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer__top_questions-btn {
    width: 327px;
    height: 80px;
    background-color: #fff;
    border-radius: 79px;
    text-align: center;
    padding-top: 30px;
    margin-top: 35px;
    margin-left: 55px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #002040;
    cursor: pointer;
}
.footer hr {
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.footer__middle {
    display: flex;
    height: 151px;
    padding-top: 45px;
    padding-left: 320px;
}
.footer__middle-phone-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer__middle-phone-phone {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 10px;
}
.footer__middle-email {
    margin-left: 80px;
}
.footer__middle-email-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer__middle-email-email {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 10px;
}
.footer__middle-adress1 {
    margin-left: 80px;
}
.footer__middle-adress1-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer__middle-adress1-text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 10px;
    width: 290px;
}
.footer__middle-adress2 {
    margin-left: 80px;
}
.footer__middle-adress2-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer__middle-adress2-text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 10px;
    width: 290px;
}
.footer__bottom {
    display: flex;
    height: 100px;
    padding-top: 45px;
    padding-left: 320px;
}
.footer__bottom a {
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
.footer__bottom-politic {
    margin-right: 80px;
}
.footer__botoom-soc {
    margin-left: 609px;
}
.footer__bottom img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
}